/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #60efff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    align-items: center;
    display: flex;
    background: #60efff;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Premium */
.container{
    display: flex;
    max-width: 720px;
    background: var(--sidebar-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    margin-left: 450px;
}

.container .box-one{
    padding: 35px 5px 0 35px;
}

.box-one .details .topic{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.box-one .details p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}



.box-one .details .price-box{
    font-size: 20px;
    color: var(--text-color);
    position: relative;
}

.details .price-box .price{
    margin-top: 10px;
    color: #60efff;
    font-size: 30px;
}

.box-one .purchase{
    margin-top: 55px;
}

.box-one .purchase button{
    outline: none;
    color: black;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    background: #60efff;
    cursor: pointer;
    border: none;
    transition: var(--tran-03);
}

.box-one .purchase .unavailable{
    margin-bottom: 50px;
    outline: none;
    color: black;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    background: #A0A0A0;
    cursor: pointer;
    border: none;
    transition: var(--tran-03);
}

.box-one .purchase button:hover{
    transform: scale(1.05);
}

.container .box-two .image-box{
    position: relative;
    text-align: center;
    right: 0;
    bottom: 32px;
}

.container .box-two .image{
    height: 450px;
    width: 430px;
}

.box-two .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-two .info{
    margin: 0 35px 0 0;
}

.box-two .info .brand{
    font-size: 18px;
    font-weight: 600;
    color: #60efff;
}

.box-two .info .name{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);

}

/* Construction Purposes Only */
.construct_message{
    margin-left: 545px;
    color: darkgrey;
}

#construct_icon{
    margin-top:250px;
    margin-left: 650px;
    font-size: 50px;
    color: darkgrey;
}

